/* General Styling */
nav a:visited,
nav a:link{
    color: rgb(0, 4, 255);
    text-decoration: none;
}

nav > ul{
    display: inline;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

.logo{
    height: 75px;
    width: 75px;    
}

.services{
    display: grid;
    grid-column: span 3;
    justify-items: center;
    align-items: center;
}

.services img{
    height: 100%;
    width: 75%;
}
.services p{
    font-weight: bold;
}

#promos img{
    height: 50%;
    width: 75%;
}
#promos p{
    font-weight: bold;
    
}

/* CSS Grid layout */

html, body{
    height:100%;
}

body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    margin: 1em;
}

header,
nav,
main,
footer{
    grid-column-start: 1;
    grid-column-end: 13;
}

.index-main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#introduction{
    grid-column-start: 1;
    grid-column-end: 13;
}
#promos{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
    justify-items: center;
    align-items: center;
}
